!!! XML
%external_stories{:type => 'array'}
  - @tickets.each do |ticket|
    %external_story
      %external_id #{ticket.number}
      %name #{ticket.title}
      %description #{ticket.body}
      %requested_by #{ticket.user}
      %created_at{:type => 'datetime'} #{ticket.created_at}
      - val = 'bug'
      - val = 'chore' if ticket.labels.to_s =~ /chore/i
      - val = 'feature' if ticket.labels.to_s =~ /feature/i
      %story_type #{val}
      - ticket.title =~ /([\d])/
      %estimate{:type => 'integer'} #{$1}


