!!! XML
%external_stories{:type => 'array'}
  - @tickets.each do |ticket|
    %external_story
      %external_id #{ticket['number'].first['content']}
      %name #{ticket['title'].first}
      %description #{ticket['body'].first}
      %requested_by #{ticket['user'].first}
      %created_at{:type => 'datetime'} #{ticket['created-at'].first['content']}
      - str = ticket['labels'].to_s
      - val = 'bug'
      - val = 'chore' if str =~ /chore/i
      - val = 'feature' if str =~ /feature/i
      %story_type #{val}
      %estimate{:type => 'integer'}


